.features__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.features__item {
  margin: 0 auto;
  position: relative;
}

.features__item--house::before {
  position: absolute;
  content: "";
  top: -9px;
  left: 1px;
  background-position: bottom center;
  background-repeat: no-repeat;
  height: 37px;
  background-image: url("../img/icon-house.svg");
  width: 39px;
  background-size: contain;
}

.features__item--food::before {
  position: absolute;
  content: "";
  background-position: bottom center;
  background-repeat: no-repeat;
  height: 35px;
  top: -5px;
  left: -2px;
  background-image: url("../img/icon-food.svg");
  width: 40px;
  background-size: contain;
}

.features__item--gifts::before {
  position: absolute;
  content: "";
  background-position: bottom center;
  background-repeat: no-repeat;
  height: 38px;
  top: -11px;
  left: 5px;
  background-image: url("../img/icon-gift.svg");
  width: 32px;
  background-size: contain;
}

.features__wrapper {
  padding: 35px 20px 9px;
}

.features__header {
  font-family: "PT Sans Bold", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0 0 17px;
  padding-left: 50px;
}

.features__text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0 0 25px;
  padding-left: 50px;
}

@media (max-width: $mobile-width-only) {
  .features__text br {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .features__wrapper {
    padding: 81px 21px 35px;
  }

  .features__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 42px;
  }

  .features__item--food {
    grid-column-start: 2;
    grid-row-start: 1;
  }

  .features__item {
    position: relative;
    text-align: center;
    width: 192px;
  }

  .features__text,
  .features__header {
    padding-left: 0;
  }

  .features__text--gift br {
    display: none;
  }

  .features__header {
    font-size: 21px;
    padding-top: 76px;
  }

  .features__text {
    padding-top: 7px;
  }

  .features__item--food::before,
  .features__item--gifts::before,
  .features__item--house::before {
    margin: auto;
    right: 0;
    left: 0;
    top: -20px;
  }

  .features__item--house::before {
    height: 72px;
    width: 75px;
  }

  .features__item--food::before {
    height: 68px;
    width: 76px;
  }

  .features__item--gifts::before {
    height: 75px;
    width: 64px;
  }
}

@media (min-width: $desktop-width) {
  .features__wrapper {
    padding: 81px 21px 56px;
  }

  .features__item {
    width: 296px;
  }

  .features__text br {
    display: block;
  }
}
