.first-reason {
  background-color: $basic-blue;
  color: $basic-white;
}

.first-reason__wrapper {
  padding: 39px 12px;
}

.first-reason__header {
  font-family: "PT Sans Bold", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}

.first-reason__number,
.first-reason__text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}

.first-reason__image {
  background-image: url("../img/photo-city-1.jpg");
  background-repeat: no-repeat;
  min-height: 260px;
}

@media (min-width: $tablet-width) {
  .first-reason {
    min-width: 768px;
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .first-reason__wrapper {
    width: 256px;
    margin: auto;
  }
}

@media (min-width: $desktop-width) {
  .first-reason {
    min-width: 1200px;
  }

  .first-reason__wrapper {
    width: 400px;
    margin: auto;
  }
}
