.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  padding: 26px 76px;
  text-align: center;
}

.page-footer__contact {
  margin: auto 0;
}

.page-footer__social {
  margin: auto;
}

.page-footer__copyright {
  display: flex;
  margin: auto;
}

.contact__tag {
  font-family: "PT Sans Bold", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
}

.social__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.social__item {
  margin: 5px;
}

.social__link {
  background-color: $basic-blue;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;

  &:hover {
    background-color: $button-hover-blue;
  }

  &:active {
    background-color: $button-down-blue;
  }

  &:active .social__link--icon {
    opacity: 0.3;
  }
}

.copyright__text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0 13px 0 0;
}

.copyright__link:hover .copyright__link--icon {
  fill: $basic-blue;
}

.copyright__link:active .copyright__link--icon {
  fill: $link-down-black;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .page-footer__copyright {
    margin: auto 0;
  }
}
