.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  padding: 39px 76px 0;
  text-align: center;
}

.page-footer__contact {
  margin: auto 0;
}

.page-footer__social {
  margin: 33px auto;
}

.page-footer__copyright {
  margin: 10px auto;
}

.contact__tag {
  font-family: "PT Sans Bold", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    padding: 3px 60px 0;
  }

  .page-footer__copyright {
    margin: auto 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    padding: 3px 120px 0;
  }
}
