.hotel-search__wrapper {
  padding: 33px 20px 0;
}

.hotels-search__header {
  font-family: "PT Sans Bold", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}

.hotels-search__text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  margin: 21px 0 0;
  text-align: center;
}

.button__wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 21px;
}

.hotel-search__button {
  cursor: pointer;
  width: 280px;
  background-color: $basic-blue;
  font-family: "PT Sans Bold", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: $basic-white;
  text-transform: uppercase;
  border-color: transparent;
  text-align: center;
  margin: 28px 20px;
  padding: 16px 0;

  &:hover,
  &:focus {
    background-color: $button-hover-blue;
  }

  &:active {
    background-color: $button-down-blue;
    color: $transparent-white;
  }
}

@media (max-width: $mobile-width-only) {
  .hotels-search__text br {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .hotel-search__wrapper {
    padding: 57px 20px 0;
  }

  .hotels-search__header {
    font-size: 30px;
  }

  .hotels-search__text {
    margin-top: 33px;
  }

  .button__wrapper {
    margin-bottom: 30px;
  }

  .hotel-search__button {
    width: 458px;
    margin-top: 38px;
  }
}

@media (min-width: $desktop-width) {
  .button__wrapper {
    margin-bottom: 38px;
  }

  .hotel-search__button {
    margin-top: 43px;
  }
}
