.hotel-search__wrapper {
  padding: 33px 20px 0;
}

.hotel-search__header {
  font-family: "PT Sans Bold", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}

.hotel-search__text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  margin: 21px 0 0;
  text-align: center;
}

.hotel-search__button-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 21px;
}

.hotel-search__button {
  width: 280px;
  margin: 28px 20px;
}

@media (max-width: $mobile-width-only) {
  .hotel-search__text br {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .hotel-search__wrapper {
    padding: 57px 20px 0;
  }

  .hotel-search__header {
    font-size: 30px;
  }

  .hotel-search__text {
    margin-top: 33px;
  }

  .hotel-search__button-wrapper {
    margin-bottom: 30px;
  }

  .hotel-search__button {
    width: 458px;
    margin-top: 38px;
  }
}

@media (min-width: $desktop-width) {
  .hotel-search__button-wrapper {
    margin-bottom: 38px;
  }

  .hotel-search__button {
    margin-top: 43px;
  }
}
