.introduction__wrapper {
  padding: 32px 18px 0;

  @media (min-width: $tablet-width) {
    padding: 46px 18px 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 58px 18px 28px;
  }
}

.introduction {
  position: relative;
}

.introduction__header {
  font-family: "PT Sans Bold", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0 10px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    margin: 0;
  }
}

.introduction__text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  padding-top: 16px;
  text-align: center;
}
