.page-header {
  background-color: $basic-white;
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  display: grid;
  grid-template-rows: 56px;
  justify-content: center;
  position: relative;
  order: 2;
  z-index: 1;
}

@media (min-width: $tablet-width) {
  .page-header__logo {
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translateX(-50%);
    z-index: 1;
  }
}


@media (min-width: $desktop-width) {
  .page-header__logo-img {
    width: 187px;
    height: 97px;
  }
}
