.request__wrapper {
  padding: 36px 8px 16px;
}

.request__header {
  font-family: "PT Sans Bold", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}

.request__text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}
