.introduction__quest,
.contacts,
.impression,
.visited,
.emotions {
  border: none;
  text-align: center;
  padding: 0;
  margin: 18px 0;
}

.contacts {
  margin-top: 24px;
}

.impression {
  margin-top: 27px;
}

.visited {
  margin: 21px 0;
}

.review__container--border {
  border-top: 1px $grey-border solid;
  padding-top: 20px;
}

.impression__list {
  list-style: none;
  margin-bottom: 0;
}

.visited__list {
  display: grid;
  grid-template-columns: max-content;
  justify-content: center;
  padding: 0;
  list-style: none;
  margin-bottom: 0;
}

.visited__item--last {
  margin-right: auto;
  margin-top: 21px;
  margin-bottom: 18px;
}

.visited__item {
  margin-right: auto;
  margin-bottom: 32px;
  margin-top: 21px;
}

.impression__item {
  margin: 22px 0 20px;
}

.contacts__container,
.introduction__container,
.impression__list {
  display: flex;
  flex-direction: column;
}

.contacts__container--tel,
.contacts__container--mail {
  position: relative;
  width: 280px;
  margin: 0 auto;
}

.contacts__container--tel::after {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  background-color: $grey-icon;
  background-image: url("../img/phone.svg");
  width: 58px;
  height: 58px;
  background-position: center;
  top: 0;
  right: 0;
}

.contacts__container--mail::after {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  background-color: $grey-icon;
  background-image: url("../img/mail.svg");
  width: 58px;
  height: 58px;
  background-position: center;
  top: 0;
  right: 0;
}

.legend--style {
  font-family: "PT Sans Bold", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
}

.introduction--style,
.contacts--style,
.review__required-fields {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 20px 0 0;
}

.contacts__telephone {
  margin-top: 16px;
  margin-right: 75px;
  padding-bottom: 8px;
}

.contacts__email {
  margin-top: 14px;
  margin-right: 92px;
  padding-bottom: 7px;
}

.introduction__field,
.contacts__field,
.emotions__text {
  font-family: "PT Sans Bold", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0 0 0 10px;
  background-color: $form-light-grey;
  border: none;
  height: 58px;
  padding: 0;

  &::placeholder {
    color: $basic-black;
  }

  &:hover {
    background-color: $grey-border;
  }

  &:focus,
  &:active {
    background-color: $basic-white;
    box-shadow: inset 0 0 0 5px $grey-border;
    outline: none;
  }
}

.contacts__field {
  width: 258px;
  margin: auto;
  padding-left: 22px;
}

.introduction__name .introduction__field {
  padding: 0 20px;
}

.introduction__surname .introduction__field {
  max-width: 170px;
  padding: 0 0 0 23px;
}

.introduction__patronymic .introduction__field {
  max-width: 172px;
  padding: 0 0 0 22px;
}

.emotions__text {
  width: 100%;
  max-width: 240px;
  height: 147px;
  margin: 15px auto;
  padding: 13px 20px 0;
}

.impression__positive,
.impression__negative,
.impression__unsure,
.visited__bridge,
.visited__mountain,
.visited__park,
.visited__rocks {
  position: relative;
  font-family: "PT Sans Bold", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  cursor: pointer;
}

.impression__positive {
  margin-left: 19px;
}

.impression__negative {
  margin-left: 14px;
}

.impression__unsure {
  margin-left: 10px;
}

.filter__input--radio + label::before {
  content: "";
  position: absolute;
  top: -15px;
  left: -77px;
  width: 46px;
  height: 46px;
  border: 5px solid $form-light-grey;
  border-radius: 50%;
  background: $form-light-grey;
}

.filter__input--radio:hover + label::before,
.filter__input--radio:focus + label::before {
  content: "";
  position: absolute;
  top: -15px;
  left: -77px;
  width: 46px;
  height: 46px;
  border: 5px solid $grey-border;
  border-radius: 50%;
  background: $grey-border;
}

.filter__input--radio:active + label::before {
  content: "";
  position: absolute;
  top: -15px;
  left: -77px;
  width: 46px;
  height: 46px;
  border: 5px solid $button-down-grey;
  border-radius: 50%;
  background: $button-down-grey;
}

.filter__input--radio:checked + label::after {
  content: "";
  position: absolute;
  top: 1px;
  left: -60px;
  width: 16px;
  height: 16px;
  border: 3px solid $dark-grey;
  border-radius: 50%;
  background: $dark-grey;
}

.filter__input--checkbox:checked + label::before,
.filter__input--checkbox:checked:hover + label::before {
  content: "";
  position: absolute;
  width: 46px;
  height: 46px;
  background-image: url("../img/check.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.visited__legend {
  margin-top: -5px;
}

.filter__input--checkbox + label::before {
  content: "";
  position: absolute;
  top: -15px;
  left: -79px;
  width: 46px;
  height: 46px;
  border: 5px solid $form-light-grey;
  border-radius: 5px;
  background: $form-light-grey;
}

.filter__input--checkbox:hover + label::before {
  content: "";
  position: absolute;
  top: -15px;
  left: -79px;
  width: 46px;
  height: 46px;
  border: 5px solid $grey-border;
  border-radius: 5px;
  background: $grey-border;
}

.review__wrapper {
  margin-bottom: 28px;
}

.review__button {
  width: 280px;
  height: 58px;
  background-color: $basic-blue;
  font-family: "PT Sans Bold", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: $basic-white;
  text-transform: uppercase;
  border-color: transparent;
  margin: 10px 20px;

  &:hover,
  &:focus {
    background-color: $button-hover-blue;
  }

  &:active {
    background-color: $button-down-blue;
    color: $transparent-white;
  }
}

@media (max-width: $mobile-width-only) {
  .review__required-fields {
    display: none;
  }

  .button__container {
    text-align: center;
  }
}

@media (min-width: $tablet-width) {
  .review__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .review__container--border {
    border: none;
    padding-top: 0;
  }

  .review__wrapper {
    margin-top: 39px;
    margin-bottom: 61px;
  }

  .legend--style {
    font-size: 21px;
  }

  .introduction__container {
    margin-top: 34px;
  }

  .introduction__name .introduction__field {
    padding: 0 7px 0 20px;
  }

  .introduction__surname .introduction__field {
    max-width: 156px;
  }

  .introduction__patronymic .introduction__field {
    max-width: 159px;
    margin-left: 12px;
  }

  .impression {
    grid-column: 1;
    grid-row: 1;
    margin-left: 35px;
    border-right: 1px #dbdbdb solid;
    margin-top: 48px;
  }

  .impression__container {
    margin-top: 42px;
  }

  .impression__legend {
    margin-right: 24px;
  }

  .impression__item {
    margin: 30px 0 21px;
  }

  .impression--style {
    margin-right: 21px;
  }

  .contacts {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    margin-top: 46px;
  }

  .contacts__telephone {
    padding-bottom: 9px;
    margin-left: 82px;
    margin-top: 20px;
    text-align: left;
  }

  .contacts__email {
    margin-top: 24px;
    margin-left: 81px;
    padding-bottom: 7px;
    text-align: left;
  }

  .contacts__container--tel,
  .contacts__container--mail {
    width: 648px;
  }

  .contacts__legend,
  .visited__legend,
  .emotions__legend {
    position: relative;
  }

  .contacts__legend::before,
  .visited__legend::before,
  .emotions__legend::before {
    content: "";
    position: absolute;
    right: 0;
    width: 124px;
    height: 1px;
    background-color: $form-desktop-grey;
  }

  .contacts__legend::before {
    top: 10px;
    left: 59px;
  }

  .visited__legend::before {
    top: 26px;
    left: 59px;
  }

  .emotions__legend::before {
    top: 9px;
    left: 59px;
  }

  .contacts__legend::after,
  .visited__legend::after,
  .emotions__legend::after {
    content: "";
    position: absolute;
    width: 124px;
    height: 1px;
    background-color: $form-desktop-grey;
  }

  .contacts__legend::after {
    top: 10px;
    right: 59px;
  }

  .visited__legend::after {
    top: 26px;
    right: 59px;
  }

  .emotions__legend::after {
    top: 9px;
    right: 59px;
  }

  .visited {
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
  }

  .visited .review__container--border {
    margin-top: 17px;
  }

  .visited__list {
    grid-template-columns: 210px 210px;
    justify-content: center;
    column-gap: 50px;
  }

  .visited__item,
  .visited__item--last {
    margin: 46px 30px 14px 85px;
    margin-right: auto;
  }

  .visited__list:nth-child(3) {
    margin-left: 40px;
  }

  .emotions {
    grid-row: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
  }

  .emotions .review__container--border {
    margin-top: 31px;
  }

  .review__button {
    cursor: pointer;
    margin: 0 43px 0 0;
    width: 324px;
  }

  .button__container {
    display: flex;
    justify-content: space-around;
    margin-top: 17px;
  }

  .emotions__text {
    max-width: 608px;
    padding: 17px 20px 0;
    margin-top: 55px;
    height: 142px;
  }

  .introduction__quest {
    text-align: left;
    margin-left: 58px;
    margin-top: 48px;
  }

  .contacts__field {
    width: 626px;
  }
}

@media (min-width: $desktop-width) {
  .review__container {
    padding: 0 120px;
  }

  .review__wrapper {
    margin-top: 10px;
    margin-bottom: 66px;
  }

  .introduction__container {
    margin-left: 2px;
  }

  .introduction__name .introduction__field {
    padding: 1px 137px 0 23px;
  }

  .introduction__surname .introduction__field,
  .introduction__patronymic .introduction__field {
    padding: 0 133px 0 23px;
  }

  .contacts__telephone--hidden {
    font-size: 0;
  }

  .contacts__legend::before,
  .contacts__legend::after,
  .visited__legend::before,
  .visited__legend::after,
  .emotions__legend::before,
  .emotions__legend::after {
    width: 280px;
  }

  .contacts__legend::before,
  .visited__legend::before,
  .emotions__legend::before {
    left: 0;
  }

  .contacts__legend::after,
  .visited__legend::after,
  .emotions__legend::after {
    right: 0;
  }

  .introduction__quest {
    margin-left: 78px;
  }

  .impression {
    margin-left: 35px;
  }

  .impression__legend {
    margin-right: 81px;
  }

  .impression__container {
    margin-left: 6px;
    text-align: left;
  }

  .impression__negative,
  .impression__positive,
  .impression__unsure {
    margin-left: inherit;
  }

  .contacts__container,
  .visited__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .contacts__container {
    margin-top: 71px;
  }

  .contacts__container--tel,
  .contacts__container--mail {
    width: 315px;
  }

  .contacts__container--tel {
    margin-left: 12px;
  }

  .contacts__container--mail {
    margin-left: 18px;
  }

  .contacts__telephone {
    padding-bottom: 9px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
    text-align: left;
  }

  .contacts__email {
    margin-left: 78px;
    margin-top: 20px;
    margin-right: 0;
    padding-bottom: 7px;
    text-align: left;
  }

  .emotions__text {
    max-width: 940px;
    padding: 16px 0 0 20px;
  }

  .review__button {
    width: 480px;
    margin: 0 79px 0 0;
  }

  .contacts__field {
    width: 294px;
    margin: 0;
  }

  .visited__list {
    grid-template-columns: 1fr 1fr 1fr max-content;
    margin-top: 11px;
  }
}
