.introduction__quest,
.contacts,
.impression,
.visited,
.emotions {
  border: none;
  text-align: center;
  padding: 0;
  margin: 30px 0;
}

.review__container--border {
  border-top: 1px $grey-border solid;
  padding-top: 20px;
}

.impression__list,
.visited__list {
  list-style: none;
  padding: 0;
}

.impression__item {
  margin: 25px 0;
}

.contacts__container,
.introduction__container,
.impression__list,
.visited__list {
  display: flex;
  flex-direction: column;
}

.introduction__legend,
.contacts__legend,
.impression__legend,
.visited__legend,
.emotions__legend {
  font-family: "PT Sans Bold", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
}

.introduction__name,
.introduction__surname,
.introduction__patronymic,
.contacts__telephone,
.contacts__email,
.review__required-fields {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 20px 0 0;
}

.introduction__field,
.contacts__field,
.emotions__text {
  font-family: "PT Sans Bold", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  background-color: $form-light-grey;
  border: none;
  height: 58px;

  &::placeholder {
    color: $basic-black;
  }

  &:hover {
    background-color: $grey-border;
  }

  &:focus {
    background-color: $basic-white;
  }
}

.contacts__field {
  width: 280px;
  margin: auto;
}

.introduction__name .introduction__field {
  width: 230px;
}

.introduction__surname .introduction__field {
  width: 192px;
}

.introduction__patronymic .introduction__field {
  width: 194px;
  margin-left: 3px;
}

.emotions__text {
  width: 100%;
  max-width: 279px;
}

.impression__positive,
.impression__negative,
.impression__unsure,
.visited__bridge,
.visited__mountain,
.visited__park,
.visited__rocks {
  position: relative;
  font-family: "PT Sans Bold", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  cursor: pointer;
}

.filter__input--radio + label::before {
  content: "";
  position: absolute;
  top: -15px;
  left: -70px;
  width: 48px;
  height: 48px;
  border: 5px solid $form-light-grey;
  border-radius: 50%;
  background: $form-light-grey;
}

.filter__input--radio:hover + label::before,
.filter__input--radio:focus + label::before {
  content: "";
  position: absolute;
  top: -15px;
  left: -70px;
  width: 48px;
  height: 48px;
  border: 5px solid $grey-border;
  border-radius: 50%;
  background: $grey-border;
}

.filter__input--radio:active + label::before {
  content: "";
  position: absolute;
  top: -15px;
  left: -70px;
  width: 48px;
  height: 48px;
  border: 5px solid $button-down-grey;
  border-radius: 50%;
  background: $button-down-grey;
}

.filter__input--radio:checked + label::after {
  content: "";
  position: absolute;
  top: 2px;
  left: -52px;
  width: 18px;
  height: 18px;
  border: 3px solid $dark-grey;
  border-radius: 50%;
  background: $dark-grey;
}

.filter__input--checkbox:checked + label::before,
.filter__input--checkbox:checked:hover + label::before {
  content: "";
  position: absolute;
  width: 46px;
  height: 46px;
  background-image: url("../img/check.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.visited__list {
  display: grid;
  grid-template-columns: max-content;
  justify-content: center;
}

.visited__item {
  margin-right: auto;
  margin-bottom: 30px;
  margin-top: 20px;
}

.filter__input--checkbox + label::before {
  content: "";
  position: absolute;
  top: -15px;
  left: -70px;
  width: 46px;
  height: 46px;
  border: 5px solid $form-light-grey;
  border-radius: 5px;
  background: $form-light-grey;
}

.filter__input--checkbox:hover + label::before {
  content: "";
  position: absolute;
  top: -15px;
  left: -70px;
  width: 46px;
  height: 46px;
  border: 5px solid $grey-border;
  border-radius: 5px;
  background: $grey-border;
}

.review__button {
  width: 280px;
  height: 58px;
  background-color: $basic-blue;
  font-family: "PT Sans Bold", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: $basic-white;
  text-transform: uppercase;
  border-color: transparent;
  margin: 51px 20px;

  &:hover,
  &:focus {
    background-color: $button-hover-blue;
  }

  &:active {
    background-color: $button-down-blue;
    color: $transparent-white;
  }
}

@media (max-width: $mobile-width-only) {
  .review__required-fields {
    display: none;
  }

  .button__container {
    text-align: center;
  }
}

@media (min-width: $tablet-width) {
  .review__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .review__container--border {
    border: none;
  }

  .impression {
    grid-column: 1;
    grid-row: 1;
    margin-left: 35px;
    // margin-left: auto;
    border-right: 1px #dbdbdb solid;
  }

  .contacts {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
  }

  .contacts__legend,
  .visited__legend,
  .emotions__legend {
    position: relative;
  }

  .contacts__legend::before,
  .visited__legend::before,
  .emotions__legend::before {
    content: "";
    position: absolute;
    top: 11px;
    left: 65px;
    right: 0;
    width: 124px;
    height: 1px;
    background-color: $form-desktop-grey;
  }

  .contacts__legend::after,
  .visited__legend::after,
  .emotions__legend::after {
    content: "";
    position: absolute;
    top: 11px;
    right: 65px;
    width: 124px;
    height: 1px;
    background-color: $form-desktop-grey;
  }

  .visited {
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
  }

  .visited__list {
    grid-template-columns: 200px 200px;
    justify-content: center;
    column-gap: 50px;
  }

  .visited__item {
    margin: 45px 30px 10px;
    margin-right: auto;
  }

  .visited__list:nth-child(3) {
    margin-left: 40px;
  }

  .emotions {
    grid-row: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
  }

  .review__button {
    margin: 0;
    width: 324px;
  }

  .button__container {
    display: flex;
    justify-content: space-around;
  }

  .emotions__text {
    max-width: 648px;
  }

  .introduction__quest {
    text-align: left;
    margin-left: 50px;
  }

  .contacts__field {
    width: 648px;
  }
}

@media (min-width: $desktop-width) {
  .review__container {
    padding: 0 120px;
  }

  .introduction__name .introduction__field {
    width: 350px;
  }

  .introduction__surname .introduction__field,
  .introduction__patronymic .introduction__field {
    width: 314px;
  }

  .contacts__telephone--hidden {
    font-size: 0;
  }

  .contacts__legend::before,
  .contacts__legend::after,
  .visited__legend::before,
  .visited__legend::after,
  .emotions__legend::before,
  .emotions__legend::after {
    width: 280px;
  }

  .contacts__legend::before,
  .visited__legend::before,
  .emotions__legend::before {
    left: 15px;
  }

  .contacts__legend::after,
  .visited__legend::after,
  .emotions__legend::after {
    right: 15px;
  }

  .introduction__quest {
    margin-left: 84px;
  }

  .impression {
    margin-left: 35px;
  }

  .impression__container {
    margin-left: 30px;
    text-align: left;
  }

  .contacts__container,
  .visited__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .emotions__text {
    max-width: 960px;
  }

  .review__button {
    width: 480px;
  }

  .contacts__field {
    width: 315px;
    margin: 0;
  }

  .visited__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 105px;
    margin-left: 40px;
  }
}
