.second-reason {
  background-color: $basic-blue;
  color: $basic-white;
}

.second-reason__wrapper {
  padding: 39px 12px 35px;
}

.second-reason__header {
  font-family: "PT Sans Bold", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}

.second-reason__number,
.second-reason__text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 14px 0 0;
  text-align: center;
}

.second-reason__image {
  background-image: url("../img/photo-bridge1.jpg");
  background-repeat: no-repeat;
  height: 260px;
  background-size: cover;
  background-position: 50%;
  background-color: $basic-light-grey;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/photo-bridge-1X2.jpg");
  }
}

@media (max-width: $mobile-width-only) {
  .second-reason__header br {
    display: none;
  }

  .second-reason__text br {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .second-reason {
    min-width: 768px;
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .second-reason__header {
    font-size: 21px;
  }

  .second-reason__image {
    grid-column: 1;
    grid-row: 1;
    height: 256px;
    background-position: inherit;
  }

  .second-reason__wrapper {
    grid-column: 2;
    margin: auto;
  }

  .second-reason__text {
    margin-top: 22px;
  }
}

@media (min-width: $desktop-width) {
  .second-reason__wrapper {
    padding: 33px 85px 35px;
  }

  .second-reason {
    min-width: 1200px;
  }

  .second-reason__text br {
    display: none;
  }
}
