// Colors

$basic-white: #ffffff;
$transparent-white: rgba(255, 255, 255, 0.3);
$line-white: rgba(255, 255, 255, 0.2);
$basic-blue: #81b3d2;
$basic-black: #000000;
$black-transparent: rgba(0, 0, 0, 0.5);
$black-line: rgba(0, 0, 0, 0.6);
$link-down-black: rgba(0, 0, 0, 0.3);
$basic-light-grey: #eeeeee;
$form-light-grey: #f2f2f2;
$basic-shadow: rgba(0, 1, 1, 0.2);
$grey-border: #e5e5e5;
$form-desktop-grey: #dbdbdb;
$darker-grey: #eaeaea;
$stroke-grey: #d6d6d6;
$dark-grey: #333333;
$active-brown: #766357;
$active-hov-brown: #604e43;
$active-down-brown: rgba(118, 99, 87, 0.3);
$button-hover-blue: #669ec0;
$button-down-blue: #5496bd;
$button-down-grey: #d5d5d5;
$grey-icon: #e6e6e6;
$play-icon-grey: #5c6870;

// Viewport

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
