.welcome {
  background-image: url("../img/back-mobile.jpg");
  background-color: $basic-blue;
  min-height: 389px;
  min-width: 320px;
  display: block;
  position: relative;
  background-repeat: no-repeat;
}

.welcome__text {
  padding-top: 90px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .welcome {
    background-image: url("../img/back-desktop.jpg");
  }
}
