.welcome {
  background-image: url("../img/back-mobile.jpg");
  background-color: $basic-blue;
  height: 389px;
  min-width: 320px;
  display: block;
  position: relative;
  background-repeat: no-repeat;
  background-position: 50%;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/back-mobileX2.jpg");
    background-size: cover;
  }
}

.welcome::after {
  position: absolute;
  content: "";
  left: 50%;
  transform: translateX(-50%);
  bottom: -1px;
  width: 100%;
  height: 57px;
  background-image: url("../img/intro-triangle.svg");
  background-repeat: no-repeat;
  background-position-x: center;
}

.welcome__inner-page {
  height: 152px;
  background-position-y: bottom;
}

.welcome__text {
  padding-top: 90px;
  text-align: center;
}

@media (max-width: $mobile-width-only) {
  .welcome__inner-page--text {
    padding-top: 52px;
  }
}

@media (min-width: $tablet-width) {
  .welcome {
    background-image: url("../img/back-desktop.jpg");
    height: 516px;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-desktopX2.jpg");
    }
  }

  .welcome img {
    width: 461px;
    height: auto;
  }

  .welcome__inner-page {
    height: 290px;
    background-size: auto;
  }

  .welcome__inner-page--text img {
    width: 457px;
  }
}
